/* Customize the label (the container) */
.cbx-container {
  display: block;
  position: relative;
  padding-left: 35px; 
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.cbx-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: white;
  border: solid 1px #FF655B;
}

/* On mouse-over, add a grey background color */
.cbx-container:hover input ~ .checkmark {
  /* background-color: #ccc; */
  border-width: 2px;
}

/* When the checkbox is checked, add a blue background */
.cbx-container input:checked ~ .checkmark {
  background-color: white;
}

/* .cbx-container:hover input:checked ~ .checkmark {
  background-color: #ccc;
} */

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cbx-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cbx-container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #FF655B;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}