.App {
  display: grid;
  grid-gap: 10px;
  height: 100vh;

  grid-template-areas:
    "message"
    "button"
    "checkboxes";
  grid-template-rows: 2fr 75px 2fr;
}

.App > * {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 600px) {
  .App {
    grid-template-areas:
      "message"
      "button"
      "checkboxes";
    grid-template-rows: 2fr 100px 2fr ;
    grid-template-columns: 1fr;
  }
}

.message {
  grid-area: message;
}

.checkboxes {
  grid-area: checkboxes;
}

.button {
  grid-area: button;
}