.App {
  display: grid;
  grid-gap: 10px;
  height: 100vh;

  grid-template-areas:
    "header"
    "ad1"
    "message"
    "button"
    "checkboxes"
    "ad2"
    "footer";
  grid-template-rows: 50px 100px 2fr 75px 2fr 100px 50px;
}

.App > * {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 600px) {
  .App {
    grid-template-areas: 
      "header header"
      "message ad1"
      "button ad1"
      "checkboxes ad2"
      "footer footer";
    grid-template-rows: 50px 2fr 100px 2fr 50px;
    grid-template-columns: 1fr 300px;
  }
}

header {
  grid-area: header;
}

.ad1 {
  grid-area: ad1;
}

.ad2 {
  grid-area: ad2;
}

.message {
  grid-area: message;
}

.checkboxes {
  grid-area: checkboxes;
}

.button {
  grid-area: button;
}

footer {
  grid-area: footer;
}